[package]
name = "epic_asset_manager"
version = "2.6.1"
authors = ["Milan Stastny <milan@stastnej.ch>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
adw = { package = "libadwaita", version = "0.1.0-alpha-6" }
anyhow = "1.0"
byte-unit = "4.0"
chrono = "0.4"
clap = "2.33"
diesel = { version = "1.4", features = ["sqlite", "r2d2"] }
diesel_migrations = { version = "1.4", features = ["sqlite"] }
egs-api = "0.4"
env_logger = "0.9"
futures = "0.3"
gettext-rs = { version = "0.7", features = ["gettext-system"] }
ghregistry = { git = "https://github.com/AchetaGames/ghregistry" }
git2 = "0.13"
gtk4 = { version = "0.3", features = ["v4_4"] }
gtk-macros = "0.3"
hex = "0.4"
html2pango = "0.4"
json5 = "0.4.1"
lazy_static = "1.4"
log = "0.4"
once_cell = "1.8"
rand = "0.8"
regex = "1"
reqwest = { version = "0.11", features = ["json", "cookies", "blocking"] }
secret-service = "2.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha-1 = "0.9"
slab_tree = "0.3"
threadpool = "1.8"
tokio = "1"
version-compare = "0.1"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
