[Desktop Entry]
Version=1.0.10
Type=Application

Name=Epic Asset Manager
Comment=Epic Asset Manager used to manage assets from Epic Games Store
Categories=Development;GTK;

Icon=input-gaming
Exec=epic_asset_manager
Terminal=false