.asset-title {
  font-size: 36px;
  font-weight: 650;
}

.asset-heading {
  font-size: 30px;
  font-weight: 650;
}

.asset-name {
  font-size: 17.5px;
  font-weight: 467.5;
}

.star {
  color: rgb(250, 190, 80);
}

.expand-button {
  border-radius: 0px 0px 0px 12px;
}
